---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-lb-operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: nginx-lb-operator
  template:
    metadata:
      labels:
        name: nginx-lb-operator
    spec:
      serviceAccountName: nginx-lb-operator
      containers:
        - name: nginx-lb-operator
          # Replace this with the built image name
          image: "{{ image }}"
          imagePullPolicy: "{{ pull_policy }}"
          volumeMounts:
          - mountPath: /tmp/ansible-operator/runner
            name: runner
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: "nginx-lb-operator"
            - name: ANSIBLE_GATHERING
              value: explicit
      volumes:
        - name: runner
          emptyDir: {}
